@font-face {
  font-family: 'Super Mario Bros 256';
  src: url('../font/SuperMario256.ttf') format('truetype');
}

* {
  font-family: 'Super Mario Bros 256';
}

title {

}

body {
  /* border: 5px dotted grey; */
  height: 100vh;
  background: repeating-linear-gradient(
  -45deg,
  #f7f5e6,
  #f7f5e6 10px,
  #d80100 10px,
  #d80100 20px
  );
  background-image: url('../images/jumbotron.jpg');
  background-position: center;
  background-size: cover;
}

#top, #bottom, #left, #right {
	background: repeating-linear-gradient(
  -45deg,
  #f7f5e6,
  #f7f5e6 10px,
  #d80100 10px,
  #d80100 20px
  );
	position: fixed;
	}
	#left, #right {
		top: 0; bottom: 0;
		width: 10px;
		}
		#left { left: 0; }
		#right { right: 0; }

	#top, #bottom {
		left: 0; right: 0;
		height: 10px;
		}
		#top { top: 0; }
		#bottom { bottom: 0; }

#display {
  display: block;
  border: 1px solid white;
  margin: 10px 0;
  background-color: black;
  color: white;
}

.leftColumn {
  margin: 30px 0;
}

.cards {
  margin: 30px 0;
}

img {
  max-width: 100%;
  height: auto;
  margin: 5px;
}

/* Small devices (landscape phones, 544px and up) */
@media screen and (min-width: 576px) {
  h1 {font-size:2rem;} /*1rem = 16px*/
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media screen and (min-width: 768px) {
  h1 {font-size:2.5rem;} /*1rem = 16px*/
}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
  h1 {font-size:3rem;} /*1rem = 16px*/
}

/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
  h1 {font-size:3.5rem;} /*1rem = 16px*/
}
